<div
  class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-gray-300 border-0"
>
  <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
	<div class="text-black text-center mb-3 font-bold p-5">
	  <h1 class="text-xl">Crează-ți un cont respectand campurile de mai jos</h1>
	</div>
	<div *ngIf="reqError" class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
		<span class="font-medium">Ups! A apărut o problemă</span>
	</div>
	<garden-client-loading
	*ngIf="loading"
	></garden-client-loading>
	<form *ngIf="!loading" [formGroup]="registerData" (ngSubmit)="submitRegisterForm()" novalidate>
		<div class="relative w-full mb-3">
			<label
			  class="block uppercase text-gray-700 text-xs font-bold mb-2"
			  for="name"
			  >Nume complet</label
			><input
			  type="text"
			  class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"
			  placeholder="Nume complet"
			  id="name"
			  formControlName="name"
			  style="transition: all 0.15s ease 0s;"
			/>
			<div class="text-sm text-red-600" *ngIf="registerData.controls['name'].touched && registerData.controls['name'].errors">
				<div *ngIf="registerData.controls['name'].errors['required']">Trebuie să completați cu numele dumneavoastră complet</div>
				<div *ngIf="registerData.controls['name'].errors['minlength']">Numele trebuie sa conțină cel putin 4 caractere</div>
			</div>
	  </div>
	  <div class="relative w-full mb-3">
		<label
		  class="block uppercase text-gray-700 text-xs font-bold mb-2"
		  for="email"
		  >Email</label
		><input
		  type="email"
		  class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"
		  placeholder="Email"
		  id="email"
		  formControlName="email"
		  style="transition: all 0.15s ease 0s;"
		/>
		<div class="text-sm text-red-600" *ngIf="registerData.controls['email'].touched && registerData.controls['email'].errors">
			<div *ngIf="registerData.controls['email'].errors['required']">Completați cu email-ul dumneavoastră</div>
			<div *ngIf="registerData.controls['email'].errors['email']">Email-ul trebuie să fie unul valid</div>
		</div>
	  </div>
	  <div class="relative w-full mb-3">
		<label
		  class="block uppercase text-gray-700 text-xs font-bold mb-2"
		  for="password"
		  >Parolă</label
		><input
		  type="password"
		  class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"
		  placeholder="Parolă"
		  id="password"
		  formControlName="password"
		  style="transition: all 0.15s ease 0s;"
		/>
		<div class="text-sm text-red-600" *ngIf="registerData.controls['password'].touched && registerData.controls['password'].errors">
		  <div *ngIf="registerData.controls['password'].errors['required']">Parola este necesară pentru a vă crea cont</div>
		  <div *ngIf="registerData.controls['password'].errors['minlength']">Parola trebuie să conțina cel puțin 6 caractere</div>
		</div>
		<div class="text-sm text-red-600" *ngIf="registerData.controls['password_confirmation'].invalid && registerData.controls['password_confirmation'].errors?.['passwordMismatch']">
			Parola și confirmarea parolei trebuie sa se potrivească
		</div>
	  </div>
	  <div class="relative w-full mb-3">
		<label
		  class="block uppercase text-gray-700 text-xs font-bold mb-2"
		  for="password_confirmation"
		  >Confirmă parola</label
		><input
		  type="password"
		  class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"
		  placeholder="Confirmă parola"
		  id="password_confirmation"
		  formControlName="password_confirmation"
		  style="transition: all 0.15s ease 0s;"
		/>
		<div class="text-sm text-red-600" *ngIf="registerData.controls['password_confirmation'].touched && registerData.controls['password_confirmation'].errors">
			<div *ngIf="registerData.controls['password_confirmation'].errors['required']">Confirmarea parolei este necesară pentru a vă crea cont</div>
			<div *ngIf="registerData.controls['password_confirmation'].errors['minlength']">Confirmarea parolei trebuie să conțina cel puțin 6 caractere</div>
		</div>
		<div class="text-sm text-red-600" *ngIf="registerData.controls['password_confirmation'].invalid && registerData.controls['password_confirmation'].errors?.['passwordMismatch']">
			Parola și confirmarea parolei trebuie sa se potrivească
		</div>
	  </div>
	  <div class="text-center mt-6">
		<button
		  class="bg-gray-900 text-white active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full"
		  type="submit"
		  style="transition: all 0.15s ease 0s;"
		  [disabled]="!registerData.valid"
		>
		  Înregistreză-te
		</button>
	  </div>
	</form>
  </div>
</div>