<div
class="relative pt-16 pb-32 flex content-center items-center justify-start"
style="min-height: 60vh;"
>
	<div
	class="absolute top-0 w-full h-full bg-center bg-cover"
	style='background-image: url("../../assets/imgs/tim-goedhart-vnpTRdmtQ30-unsplash.jpg");'
	>
		<span
			id="blackOverlay"
			class="w-full h-full absolute opacity-20 bg-black"
		></span>
	</div>
	<div class="container relative mx-auto">
		<div class="items-start flex flex-wrap">
			<div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-left">
				<div class="pr-12">
					<h1 class="text-white font-semibold text-3xl">
					Blogul de wellness.
					</h1>
					<p class="mt-4 text-2xl text-gray-300">
					Aici gasiți cele mai actuale articole pe topicu-uri de actualitate din domeniul sănătății și al îngrijirii personale.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div
	class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden"
	style="height: 70px;"
	>
	<svg
		class="absolute bottom-0 overflow-hidden"
		xmlns="http://www.w3.org/2000/svg"
		preserveAspectRatio="none"
		version="1.1"
		viewBox="0 0 2560 100"
		x="0"
		y="0"
	>
		<polygon
		class="text-gray-300 fill-current"
		points="2560 0 2560 100 0 100"
		></polygon>
	</svg>
	</div>
</div>
<section class="py-20 bg-gray-300">
	<div 
	class="container flex justify-start mx-auto px-4 mb-6"
	*ngIf="isAuthenticated"
	>
		<button 
		class="bg-blue-500 my-2 hover:bg-blue-700 text-white text-xl font-bold py-2 px-4 rounded-md"
		routerLink="/blog/new-post"
		>
			Crează articol nou pe blog
		</button>
	</div>
    <div class="container flex justify-center mx-auto px-4">

		<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-7 justify-between">
			<div 
			class="flex flex-col max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:border-gray-700"
			*ngFor="let blogPost of blogPosts"
			>
				<a href="#">
					<img class="rounded-t-lg max-h-80 mx-auto" src="{{ blogPost.image }}" alt="{{ blogPost.title }}" />
				</a>
				<div class="p-5">
					<a href="#">
						<h5 class="mb-2 text-2xl font-bold tracking-tight text-black">{{ blogPost.title }}</h5>
					</a>
					<p class="mb-3 p-2 font-normal overflow-auto text-black">{{ blogPost.body | slice : 0 : 50 }}...</p>
					<a href="/blog/post/{{ blogPost.id }}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
						Citește mai mult.
						<svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
					</a>
				</div>
			</div>

		</div>
	</div>
</section>