<main>
	<section class="relative w-full min-h-56">
  <div
	class="absolute top-0 w-full h-full bg-gray-900"
  ></div>
  <div class="container mx-auto px-4 h-full">
	<div class="flex flex-col content-center items-center justify-center h-full">
	  <div class="w-full md:w-10/12 lg:w-8/12 px-4 p-2 my-28">
		<div
  class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-gray-300 border-0"
>
  <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
	<div class="text-black text-center mb-3 font-bold p-5">
	  <h1 class="text-xl">Editează articolul de pe blog</h1>
	</div>
	<garden-client-loading *ngIf="loading"></garden-client-loading>
	<form *ngIf="!loading" [formGroup]="blogPostToEdit" (submit)="submitEdit()" novalidate>
	  <div class="relative w-full mb-3">
		<label
		  class="block uppercase text-gray-700 text-xs font-bold mb-2"
		  for="title"
		  >Titlu</label
		><input
		  type="text"
		  class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"
		  placeholder="Titlu"
		  formControlName="title"
		  id="title"
		  style="transition: all 0.15s ease 0s;"
		/>
		<div class="text-sm text-red-600" *ngIf="blogPostToEdit.controls['title'].touched && blogPostToEdit.controls['title'].errors">
			<div *ngIf="blogPostToEdit.controls['title'].errors['required']">Titlul articolului este necesar</div>
			<div *ngIf="blogPostToEdit.controls['title'].errors['minlength']">Titlul trebuie sa conțină cel puțin 4 caractere</div>
		</div>
	  </div>
	  <div class="relative w-full mb-3">
		<label
		  class="block uppercase text-gray-700 text-xs font-bold mb-2"
		  for="image"
		  >Imagine</label
		><input
			type="file"
			class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"
			placeholder="Incarcă o imagine"
			[name]="image"
			id="image"
			style="transition: all 0.15s ease 0s;"
			(change)="onFileSelected($event)"
	  	/>
	  </div>
	  <div class="relative w-full mb-3">
		<label 
			class="block uppercase text-gray-700 text-xs font-bold mb-2"
			for="body"
		>Conținutul articolului</label>
		<textarea
			class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"
			formControlName="body"
			id="body"
			rows="15"
			placeholder="Scrie-ți gandurile aici..."
		></textarea>
		<div class="text-sm text-red-600" *ngIf="blogPostToEdit.controls['body'].touched && blogPostToEdit.controls['body'].errors">
			<div *ngIf="blogPostToEdit.controls['body'].errors['required']">Conținutul articolului este obligatoriu</div>
			<div *ngIf="blogPostToEdit.controls['body'].errors['minlength']">Minumul de caractere acceptat este de 100</div>
			<div *ngIf="blogPostToEdit.controls['body'].errors['maxlength']">Maximul de caractere acceptat este de 10000</div>
		</div>
	  </div>
	  <div class="text-center mt-6">
		<button
		  class="bg-gray-900 text-white active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full"
		  type="submit"
		  style="transition: all 0.15s ease 0s;"
		  [disabled]="!blogPostToEdit.valid"
		>
		  Editează articolul
		</button>
	  </div>
	</form>
  </div>
</div>
	  </div>
	</div>
  </div>
</section>
</main>
