<main class="profile-page">
	<section class="relative block" style="height: 350px;">
	  <div
		class="absolute top-0 w-full h-full bg-center bg-cover"
		style='background-image: url("../../assets/imgs/appointment.jpg");'
	  >
		<span
		  id="blackOverlay"
		  class="w-full h-full absolute opacity-20 bg-black"
		></span>
	  </div>
	  <div
		class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden"
		style="height: 70px;"
	  >
		<svg
		  class="absolute bottom-0 overflow-hidden"
		  xmlns="http://www.w3.org/2000/svg"
		  preserveAspectRatio="none"
		  version="1.1"
		  viewBox="0 0 2560 100"
		  x="0"
		  y="0"
		>
		  <polygon
			class="text-white fill-current"
			points="2560 0 2560 100 0 100"
		  ></polygon>
		</svg>
	  </div>
	</section>
	<section class="pt-10 pb-24">
		<div class="container mx-auto px-4">
		<div class="flex flex-wrap justify-center text-center mb-24">
			<div class="w-full lg:w-8/12 px-4">
			<h2 class="text-4xl font-semibold">Programează o ședință de o oră cu unul din specialiști noștri</h2>
			<p class="text-lg leading-relaxed m-4 text-gray-600">
				Suntem mândri să avem o echipă de profesioniști talentați și dedicați în domeniul nostru. Fiecare membru al echipei aduce valoare și pasiune, astfel contribuind la succesul și creșterea organizației noastre.
			</p>
			</div>
		</div>
		<div class="flex flex-wrap justify-center">
			<div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
			<div class="px-6">
				<img
				alt="..."
				src="../../assets/imgs/rafaella-mendes.jpg"
				class="shadow-lg rounded-full max-w-full mx-auto"
				style="max-width: 120px;"
				/>
				<div class="pt-6 text-center">
				<h5 class="text-xl font-bold">Ana-Maria Balteșiu</h5>
				<p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
					(Psiholog si Psihoterapeut)
				</p>
				<div class="mt-6">
					<button
					class="bg-blue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
					type="button"
					>
					<i class="fab fa-twitter"></i></button
					><button
					class="bg-blue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
					type="button"
					>
					<i class="fab fa-facebook-f"></i></button
					><button
					class="bg-pink-500 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
					type="button"
					>
					<i class="fab fa-dribbble"></i>
					</button>
				</div>
				</div>
			</div>
			</div>
			<div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
			<div class="px-6">
				<img
				alt="..."
				src="../../assets/imgs/ian-dooley.jpg"
				class="shadow-lg rounded-full max-w-full mx-auto"
				style="max-width: 120px;"
				/>
				<div class="pt-6 text-center">
				<h5 class="text-xl font-bold">Eugen Giurgiu</h5>
				<p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
					(Doctor in Biochimie)
				</p>
				<div class="mt-6">
					<button
					class="bg-red-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
					type="button"
					>
					<i class="fab fa-google"></i></button
					><button
					class="bg-blue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
					type="button"
					>
					<i class="fab fa-facebook-f"></i>
					</button>
				</div>
				</div>
			</div>
			</div>
			<div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
			<div class="px-6">
				<img
				alt="..."
				src="../../assets/imgs/joseph-gonzalez.jpg"
				class="shadow-lg rounded-full max-w-full mx-auto"
				style="max-width: 120px;"
				/>
				<div class="pt-6 text-center">
				<h5 class="text-xl font-bold">Gabriel Dumitrescu</h5>
				<p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
					(Fitness-Wellness Instructor)
				</p>
				<div class="mt-6">
					<button
					class="bg-red-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
					type="button"
					>
					<i class="fab fa-google"></i></button
					><button
					class="bg-blue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
					type="button"
					>
					<i class="fab fa-twitter"></i></button
					><button
					class="bg-gray-800 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
					type="button"
					>
					<i class="fab fa-instagram"></i>
					</button>
				</div>
				</div>
			</div>
			</div>
		</div>
		</div>
 	</section>
	<hr>
	<section class="py-20" id="user-bookings">
		<garden-client-user-bookings></garden-client-user-bookings>
	</section>	
	<section class="relative w-full min-h-56 my-8">
		<div
		class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
		style="height: 80px;"
		>
			<svg
				class="absolute bottom-0 overflow-hidden"
				xmlns="http://www.w3.org/2000/svg"
				preserveAspectRatio="none"
				version="1.1"
				viewBox="0 0 2560 100"
				x="0"
				y="0"
			>
				<polygon
				class="text-gray-900 fill-current"
				points="2560 0 2560 100 0 100"
				></polygon>
			</svg>
    	</div>
		<div class="absolute top-0 w-full h-full bg-gray-900"></div>
		<div class="container mx-auto px-4 h-full">
		  <div class="flex flex-col content-center items-center justify-center h-full">
			<div class="w-full md:w-8/12 lg:w-6/12 px-4 p-2 mb-28">
			  <garden-client-specialist-booking-form></garden-client-specialist-booking-form>
			</div>
		  </div>
		</div>
	</section>
</main>