<div
  class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-gray-300 border-0"
>
  <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
	<div class="text-black text-center mb-3 font-bold p-5">
	  <h1 class="text-xl">Întră în cont cu credențialele tale de utilizator</h1>
	</div>
	<form [formGroup]="loginData" (submit)="submitOauthLoginInfo()" novalidate>
	  <div class="relative w-full mb-3">
		<label
		  class="block uppercase text-gray-700 text-xs font-bold mb-2"
		  for="email"
		  >Email</label
		><input
		  type="email"
		  class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"
		  placeholder="Email"
		  formControlName="email"
		  id="email"
		  style="transition: all 0.15s ease 0s;"
		/>
	  </div>
	  <div class="relative w-full mb-3">
		<label
		  class="block uppercase text-gray-700 text-xs font-bold mb-2"
		  for="password"
		  >Parolă</label
		><input
		  type="password"
		  class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"
		  placeholder="Parolă"
		  formControlName="password"
		  id="password"
		  style="transition: all 0.15s ease 0s;"
		/>
	  </div>
	  <div class="text-center mt-6">
		<button
		  class="bg-gray-900 text-white active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full"
		  type="submit"
		  style="transition: all 0.15s ease 0s;"
		>
		  Loghează-te
		</button>
	  </div>
	</form>
  </div>
</div>