<section class="relative block py-24 lg:pt-0 bg-gray-900">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap justify-center lg:-mt-64 -mt-48">
        <div class="w-full lg:w-6/12 px-4">
          <div
            class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-gray-300"
          >
            <form 
            class="flex-auto p-5 lg:p-10"
            [formGroup]="subscriberForm"
            (submit)="subscribeToArticles()"
            >
              <h4 class="text-2xl font-semibold">Vrei să fi anunțat atunci cand sunt postate noi articole pe blog?</h4>
              <p class="leading-relaxed mt-1 mb-4 text-gray-600">
                Completează formularul și vei primi email de fiecare data cand post un articol nou.
              </p>
              <div *ngIf="reqSuccess" class="p-4 mb-4 text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
                <span class="font-medium">Te-ai abonat cu succes la postările noi de pe blog</span>
              </div>
              <div *ngIf="reqError" class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <span class="font-medium">Ups! A apărut o problemă</span>
              </div>
              <div class="relative w-full mb-3 mt-8">
                <label
                  class="block uppercase text-gray-700 text-xs font-bold mb-2"
                  for="name"
                  >Numele complet</label
                ><input
                  type="text"
                  class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"
                  placeholder="Nume complet"
                  formControlName="name"
                  id="name"
                  style="transition: all 0.15s ease 0s;"
                />
                <div class="text-sm text-red-600" *ngIf="subscriberForm.controls['name'].touched && subscriberForm.controls['name'].errors">
                  <div *ngIf="subscriberForm.controls['name'].errors['required']">Trebuie să completați cu numele dumneavoastră complet</div>
                  <div *ngIf="subscriberForm.controls['name'].errors['minlength']">Numele trebuie sa conțină cel putin 4 caractere</div>
                </div>
              </div>
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-gray-700 text-xs font-bold mb-2"
                  for="email"
                  >Email</label
                ><input
                  type="email"
                  class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"
                  placeholder="Email"
                  formControlName="email"
                  id="email"
                  style="transition: all 0.15s ease 0s;"
                />
                <div class="text-sm text-red-600" *ngIf="subscriberForm.controls['email'].touched && subscriberForm.controls['email'].errors">
                  <div *ngIf="subscriberForm.controls['email'].errors['required']">Completați cu email-ul dumneavoastră</div>
                  <div *ngIf="subscriberForm.controls['email'].errors['email']">Email-ul trebuie să fie unul valid</div>
                </div>
              </div>
              <div class="text-center mt-6">
                <button
                  class="bg-gray-900 text-white active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1"
                  type="submit"
                  style="transition: all 0.15s ease 0s;"
                  [disabled]="!subscriberForm.valid"
                >
                  Abonează-te
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>