<div
class="relative pt-16 pb-32 flex content-center items-center justify-start"
style="min-height: 60vh;"
>
	<div
	class="absolute top-0 w-full h-full bg-center bg-cover"
	style='background-image: url("../../assets/imgs/aaron-burden-xG8IQMqMITM-unsplash.jpg");'
	>
		<span
			id="blackOverlay"
			class="w-full h-full absolute opacity-20 bg-black"
		></span>
	</div>
	<!-- <div class="container relative mx-auto">
		<div class="items-start flex flex-wrap">
			<div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-left">
				<div class="pr-12">
					<h1 class="text-white font-semibold text-3xl">
					Blogul de wellness.
					</h1>
					<p class="mt-4 text-2xl text-gray-300">
					Aici gasiți cele mai actuale articole pe topicu-uri de actualitate din domeniul sănătății și al îngrijirii personale.
					</p>
				</div>
			</div>
		</div>
	</div> -->
	<div
	class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden"
	style="height: 70px;"
	>
	<svg
		class="absolute bottom-0 overflow-hidden"
		xmlns="http://www.w3.org/2000/svg"
		preserveAspectRatio="none"
		version="1.1"
		viewBox="0 0 2560 100"
		x="0"
		y="0"
	>
		<polygon
		class="text-gray-300 fill-current"
		points="2560 0 2560 100 0 100"
		></polygon>
	</svg>
	</div>
</div>
<section class="py-20 bg-gray-300">
	<div class="container flex justify-center mx-auto px-4">
		<div class="pt-2 pb-16 lg:pt-6 lg:pb-24 bg-white">
			<div class="flex justify-between px-4 mx-auto max-w-screen-xl ">
				<article class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert">
					<div class="mb-4 lg:mb-6 not-format">
						<div class="flex items-center mb-6 not-italic">
							<div class="flex flex-row justify-between items-center mr-3 w-full text-sm text-gray-900 dark:text-white">
								<div>
									<a href="#" rel="author" class="text-xl font-bold text-gray-900">Scriitor: <b>{{ blogUser.username }}</b></a>
									<p class="text-base font-light text-gray-500"><b>{{ blogPost.created_at | date }}</b></p>
								</div>
								<div *ngIf="isArticleOwner" class="inline-flex rounded-md shadow-sm">
									<a routerLink="/blog/post/{{ blogPost.id }}/edit" class="px-4 py-2 font-medium text-blue-700 bg-white border border-gray-200 rounded-l-lg hover:bg-gray-100 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white">
									  Editeză
									</a>
									<button (click)="deleteArticle()" class="px-4 py-2 font-medium text-gray-900 bg-white border border-gray-200 rounded-r-md hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white">
									  Șterge
									</button>
								</div>
							</div>
						</div>
						<h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl">{{ blogPost.title }}</h1>
					</div>
					<figure>
						<img src="{{ blogPost.image }}" alt="{{ blogPost.title }}">
					</figure>
					<p class="p-2 text-lg lead">
						{{ blogPost.body }}
					</p>
				</article>
			</div>
		</div>
	</div>
</section>