<main class="profile-page">
  <section class="relative block" style="height: 500px;">
    <div
      class="absolute top-0 w-full h-full bg-center bg-cover"
      style='background-image: url("../../../assets/imgs/jeremy-thomas-FO7bKvgETgQ-unsplash.jpg");'
    >
      <span
        id="blackOverlay"
        class="w-full h-full absolute opacity-50 bg-black"
      ></span>
    </div>
    <div
      class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden"
      style="height: 70px;"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
        <polygon
          class="text-gray-300 fill-current"
          points="2560 0 2560 100 0 100"
        ></polygon>
      </svg>
    </div>
  </section>
  <section class="relative py-16 bg-gray-300">
    <div class="container mx-auto px-4">
      <div
        class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-xl rounded-lg mt-1"
      >
        <div class="px-6">
          <div class="flex flex-wrap justify-center">
            <div
              class="w-full px-4 my-10 lg:order-2 flex justify-center"
            >
              <div class="relative">
                <img
                  alt="..."
                  src="../../../assets/imgs/garden_logo.png"
                  class="shadow-xl rounded-full h-auto align-middle border-none absolute -m-16 -ml-20 lg:-ml-16"
                  style="max-width: 150px;"
                />
              </div>
            </div>
          </div>
          <div class="text-center mt-12">
            <h3
              class="text-4xl font-semibold leading-normal mb-2 text-gray-800 mb-2"
            >
              Garden Of Eden
            </h3>
            <div
              class="text-sm leading-normal mt-0 mb-2 text-gray-500 font-bold uppercase"
            >
              <i
                class="fas fa-map-marker-alt mr-2 text-lg text-gray-500"
              ></i>
              Sibiu, Romania
            </div>
            <div class="mb-2 text-gray-700 mt-10">
              <i class="fas fa-briefcase mr-2 text-lg text-gray-500"></i
              >Manager General - Elena Moldovanu 
            </div>
            <div class="mb-2 text-gray-700">
              <i class="fas fa-university mr-2 text-lg text-gray-500"></i
              >Domeniu de activitate - Centru de sănătate și binefacere
            </div>
          </div>
          <div class="mt-10 py-10 border-t border-gray-300 text-center">
            <div class="flex flex-wrap justify-center">
              <div class="w-full lg:w-9/12 px-4">
                <p class="mb-4 text-lg leading-relaxed text-gray-800">
					Medicina integrativă este o abordare medicală holistică care combină practicile
					și metodele tradiționale cu terapiile și tratamentele complementare și alternative.
					Aceasta se concentrează pe tratarea persoanei în ansamblu, luând în considerare aspectele fizice,
					emoționale, mentale și spirituale ale sănătății. În medicina integrativă, se pune accent pe
					relația dintre medic și pacient, promovând colaborarea activă și implicarea acestuia în procesul de vindecare.
					Prin combinarea metodelor medicale convenționale cu terapiile complementare, precum acupunctura,
					homeopatia, meditația, yoga sau nutriția, medicina integrativă își propune să obțină rezultate
					mai complete și durabile în tratamentul și prevenirea afecțiunilor.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
	<section class="pb-20 bg-gray-300">
		<div class="container mx-auto px-4">
		  <div class="flex flex-wrap items-center mt-32">
			<div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
			  <div
				class="text-gray-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-gray-100"
			  >
				<i class="fas fa-user-friends text-xl"></i>
			  </div>
			  <h3 class="text-3xl mb-2 font-semibold leading-normal">
				De ce am ales această cale?

			  </h3>
			  <p
				class="text-lg font-light leading-relaxed mt-0 mb-4 text-gray-700"
			  >
			  Pentru că ne-am dorit ca un număr cât mai mare de oameni să aibă o stare de sănătate optimă. Am găsit calea echilibrului și vrem să o împărtășim în lume prin intermediul celor mai inovative metode existente în acest moment. Indirect, educăm, deschidem minți și apropiem omul de natură. Contribuim la crearea unei comunități sănătoase "Body, Mind and Soul" printr-o abordare integrativă, toate acestea cu tehnologii non-invazive, fără efecte adverse și fără a crea dependență.
			  </p>
			</div>
			<div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
			  <div
				class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-pink-600"
			  >
				<img
				  alt="..."
				  src="../../../assets/imgs/martino-pietropoli-5jz3T5LwuPA-unsplash.jpg"
				  class="w-full align-middle rounded-t-lg"
				/>
			  </div>
			</div>
		  </div>
		</div>
	  </section>
	  <section class="relative py-20">
		<div
		  class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
		  style="height: 80px;"
		>
		  <svg
			class="absolute bottom-0 overflow-hidden"
			xmlns="http://www.w3.org/2000/svg"
			preserveAspectRatio="none"
			version="1.1"
			viewBox="0 0 2560 100"
			x="0"
			y="0"
		  >
			<polygon
			  class="text-white fill-current"
			  points="2560 0 2560 100 0 100"
			></polygon>
		  </svg>
		</div>
		<div class="container mx-auto px-4">
		  <div class="items-center flex flex-wrap">
			<div class="w-full md:w-4/12 ml-auto mr-auto px-4">
			  <img
				alt="..."
				class="max-w-full rounded-lg shadow-lg"
				src="../../../assets/imgs/cat-han-ag0ZIcrBjgk-unsplash.jpg"
			  />
			</div>
			<div class="w-full md:w-5/12 ml-auto mr-auto px-4">
			  <div class="md:pr-12">
				<div
				  class="text-pink-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-pink-300"
				>
				  <i class="fas fa-rocket text-xl"></i>
				</div>
				<h3 class="text-3xl font-semibold">"Ceea ce se numește geniu este de fapt abundența vieții și a sănătății." – Henry David Thoreau”</h3>
				<p class="mt-4 text-lg leading-relaxed text-gray-600">
					Centrul nostru de sănătate și educație vă invită să faceți parte dintr-o comunitate dedicată creșterii personale și îngrijirii sănătății. Echipa noastră de profesioniști medicali va fi alături de voi în această călătorie, oferindu-vă suport și îndrumare în atingerea obiectivelor voastre. Alegeți să investiți în voi înșivă și să deveniți arhitecții propriei voastre sănătăți și fericiri. Suntem aici pentru a vă ghida și sprijini în această călătorie, pentru că suntem convinși că educația și sănătatea reprezintă fundamentul unei vieți împlinite și echilibrate.
				</p>
				<ul class="list-none mt-6">
				  <li class="py-2">
					<div class="flex items-center">
					  <div>
						<span
						  class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-pink-600 bg-pink-200 mr-3"
						  ><i class="fa-sharp fa-solid fa-brain"></i>
						</span>
					  </div>
					  <div>
						<h4 class="text-gray-600">
						  Minte
						</h4>
					  </div>
					</div>
				  </li>
				  <li class="py-2">
					<div class="flex items-center">
					  <div>
						<span
						  class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-pink-600 bg-pink-200 mr-3"
						  ><i class="fa-sharp fa-solid fa-child-reaching"></i>
						</span>
					  </div>
					  <div>
						<h4 class="text-gray-600">Trup</h4>
					  </div>
					</div>
				  </li>
				  <li class="py-2">
					<div class="flex items-center">
					  <div>
						<span
						  class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-pink-600 bg-pink-200 mr-3"
						  ><i class="fa-solid fa-heart-pulse"></i>
						</span>
					  </div>
					  <div>
						<h4 class="text-gray-600">Suflet</h4>
					  </div>
					</div>
				  </li>
				</ul>
			  </div>
			</div>
		  </div>
		</div>
	  </section>
  </section>
</main>
